<div class="container">
  <div class="mt-5">

    <%= form_with model: @task, url: task_create_path do |f| %>

      <% if @task.errors.any? %>
        <div class="alert alert-warning">
          <% @task.errors.full_messages do |message| %>
            <div>  <%= message %>  </div>
          <% end %>
        </div>
      <% end %>


      <!--      <div class="mb-3">-->
      <!--        <label class="form-label"> Task Name </label>-->
      <!--        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">-->
      <!--      </div>-->

      <div class="mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, class: "form-control", placeholder: "New task" %>
      </div>

      <%= f.submit "Add Task", class: "btn btn-primary" %>

    <% end %>

  </div>
</div>
